<%- include("partials/header"); %>


    <div id="outer" class=" text-center bottom-50 end-50">
        <form action="/next" method="get">
            <br>
            <br>
            <br>
            <br>
            <div>
                <h4>The answer would be =   <%= result %>  </h4>
            </div>
            <br>
            <button type="submit" class="btn btn-lg btn-dark">Next calc</button>
        </form>
    </div>

<%- include("partials/footer"); %>

